:root {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  --text-primary: black;
  --text-secondary: white;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 1s;
  --drawer-color: #0ea5e9;
  --drawer-width: clamp(210px, 22vw, 325px);
  --nav-bg-1: #f8f8f8;
  --nav-color-1: #c9c9c9;
  --nav-color-2: #62daff6e;
  --blue-1: #084c61;
  --avatar: url("https://github.com/xhchan95.png");
  --avatar2: url("https://githubcom/james.png");
  --avatar3: url("https://githubcom/bob.png");
  --avatar4: url("https://githubcom/alice.png");
  --content-gray: rgb(235, 235, 235);
  --transition-notDrawer: margin-left 0.4s ease-in;
  --transition-drawer: width 0.4s ease-in;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "drawer nav nav nav"
    "drawer content content content";
  grid-template-rows: 0.8fr 4fr;
  grid-template-columns: 5rem 1fr 1fr 1fr;
}

.drawer {
  grid-area: drawer;
  background-color: var(--drawer-color);
  width: 5rem;
  position: fixed;
  transition: var(--transition-drawer);
  overflow: hidden;
  height: 100vh;
}

.drawer:hover {
  width: var(--drawer-width);
}

.menuItem > h1 {
  display: none;
  margin-left: 5%;
}

.drawer:hover > .menuItem > h1 {
  display: inline;
}

.drawer:hover ~ .navbar,
.drawer:hover ~ .content {
  margin-left: calc(var(--drawer-width) - 5rem);
}

.menuItem {
  color: var(--text-secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.menuItem > * {
  cursor: pointer;
}

.drawer > div:not(:first-child) > * {
  padding: 1vw 0.1vw 0.1vw 0vw;
  font-size: calc(20px + 0.2vw);
  padding-left: 2px;
}

.drawer > div:not(:first-child) > img {
  width: calc(20px + 0.5vw);
  width: calc(20px + 0.5vw);
}

.drawer > div:nth-child(8) {
  padding-top: 60px;
}

.dashboard {
  font-size: clamp(12px, calc(25px + 0.9vw), 50px);
}

.dashboard img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: calc(40px + 0.7vw);
  height: calc(40px + 0.7vh);
  padding-left: 10px;
  padding-top: 10px;
}
/* navbar styling */
.navbar {
  grid-area: nav;
  transition: var(--transition-notDrawer);
  background-color: var(--nav-bg-1);
  padding: 1.5rem 3rem;
  border-bottom: 2px solid rgb(219, 219, 219);
}

.topNav {
  display: grid;
  grid-template-columns: 1fr max-content;
  margin-bottom: 2.5rem;
}

.search {
  display: flex;
  align-items: center;
  margin-right: auto;
  width: 100%;
}

.search > input {
  display: inline-block;
  border: 0;
  background-color: var(--nav-color-1);
  padding: 0.5rem 1.5rem;
  outline-color: var(--blue-1);
  margin-left: 1.25rem;
  border-radius: 5px;
  width: min(80%, 600px);
  margin-right: 20px;
}

.navbar .account {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 880;
}

.avatar {
  background: var(--avatar) center center / cover no-repeat;
  border-radius: 50%;
}

.account .avatar {
  margin: 0 1rem 0 2.5rem;
  height: 40px;
  width: 40px;
}

.content {
  grid-area: content;
  transition: var(--transition-notDrawer);
}

img {
  cursor: pointer;
}

.botNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile .avatar {
  width: 75px;
  height: 75px;
}

.greeting {
  font-weight: 800;
  margin-bottom: 0.4rem;
}

.profile .name {
  font-size: 1.6rem;
  font-weight: 800;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.btn {
  background-color: var(--drawer-color);
}
